/* Local mixins */
@mixin place-region-icon {
  svg {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: -4px;
    path {
      fill: $white
    }
  }
}
@mixin myclearfix {
  @iclude clearfix;
  height: 0;
  overflow: hidden;
}
/* --- */

.row.expanded {
  .columns {
    padding-left: 0;
    padding-right: 0;
  }
}
.h-all-caps {
  h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem-calc(24);
    &.lite {
      font-weight: 400;
    }
  }
}
form {
  select {
    color: rgba($dark-gray, .5);
  }
}
.top-bar {
  @include breakpoint(medium) {
    height: rem-calc(36);
  }
  @include breakpoint(small) {
    height: auto;
  }
	.menu {
		li {
      &.mui-enter {
        //@include mui-slide(in, up, 100%, false, 250ms, ease);
      }
      a {
        color: $white;
        padding: 0.75rem 1rem;
        @include breakpoint(medium) {
          font-size: rem-calc(12);
        }
        @include breakpoint(small) {
          font-size: inherit;
        }
      }
		}
		&.locales {
			li {
				@include breakpoint(small) {
					display: table-cell;
				}
			}
			@include breakpoint(small) {
				border-top: 1px solid $white;
				padding-top: 0.5rem;
        margin-top: 0.5rem;
			}
			@include breakpoint(medium) {
				border-top: none;
				padding-top: 0;
        margin-top: 0;
			}
		}
	}
  .top-bar-title {
    .brand {
      svg {
        max-width: 65%;
        height: auto;
      }
    }
  }
  .top-bar-left {
    .menu {
      li {
        a {
          //font-size: rem-calc(14);
        }
      }
    }
  }
	.top-bar-right {
    & > * {
      @include breakpoint(small) {
        float: none;
      }
      @include breakpoint(medium) {
        //float: left;
        display: inline-block;
      }
    }
    .menu {
      &.dropdown {
        /*@include breakpoint(small) {
          display: block;
        }
        & > li {
          @include breakpoint(small) {
            display: block;
          }
          @include breakpoint(medium) {
            display: table-cell;
          }
        }
        .vertical {
          &.submenu {
            min-width: inherit;
            border-top: 1px solid $dark-gray;
            @include breakpoint(medium) {
              display: none;
              position: absolute;
            }
            @include breakpoint(small) {
              display: block;
              position: relative;
              border: none;
              & > li {
                padding-left: rem-calc(10);
              }
            }
          }
        }*/
      }
      &.locales {
        margin-right: rem-calc(24);
        margin-left: rem-calc(24);
        li {
          border-right: 1px solid scale-color($dark-gray, $lightness: 10%);
          a {
            font-size: rem-calc(12);
            padding: 0.75rem 0.625rem;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
	}
	.favorites {
    font-size: 0.75rem;
		vertical-align: top;
		margin: 0;
		padding: 0.75rem 1rem;
		border: none;
    border-radius: 0;
    background-color: $black;
    color: $medium-gray;
	}
  .mobile-menu {
    @include breakpoint(small) {
      margin-top: 1rem;
    }
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }
	@include breakpoint(medium) {
		padding: 0;
	}
}
.slideshow {
  margin: 0;
  li {
    list-style-type: none;
    display: table;
    width: 100%;
  }
}
.section-wrapper {
  position: relative;
  .section-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    &.section1-bg {
      background-image: url(../img/bg-shape-01.svg);
    }
    &.section2-bg {
      background-image: url(../img/bg-shape-02.svg);
    }
  }
}
.search {
  padding: rem-calc(56 0 16);
  .search-form {
    background-color: rgba($white, .8);
    padding: 2rem 1rem;
    border-bottom: 1px solid $medium-gray;
    .extended-search {
      a {
        font-size: rem-calc(12);
        color: $dark-gray;
     }
    }
  }
  .quick-search-form {
    @extend .search-form;
    a.quick-search {
      @include button-expand(true);
      @include button-style(rgba($white, .67), $white, $primary-color);
      margin-bottom: 0;
    }
  }
}
.top-offers {
  padding: rem-calc(56 0 16);
  .top-offer-object {
    position: relative;
    background-color: $white;
    box-shadow: 0px 2px 3px rgba($black, 0.2);
    &>div {
      padding: 0 1rem;
    }
    .object-wrapper {
      position: relative;
      padding: 0;
      margin-bottom: rem-calc(6);
      overflow: hidden;
      .object-image {
        overflow: hidden;
        position: relative;
        height: 260px;
        img {
          position: absolute;
          height: 260px;
          max-width: inherit;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);
        }
      }
      .object-info {
        position: absolute;
        bottom: -118px;
        width: 100%;
        text-align: center;
        color: $white;
        padding: 3rem 0 0.75rem;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000', GradientType=0 );
        //-webkit-transition: -webkit-transform 0.33s ease 0.2s;
        //transition: bottom 0.33s ease 0.2s;
        -webkit-transition: all 0.33s ease 0.2s;
        transition: all 0.33s ease 0.2s;

        h3 {
          margin: 0;
        }
        hr {
          margin: 5px auto;
          width: 10%;
        }
        .place {
          @include place-region-icon;
        }
        .region {
          @include place-region-icon;
        }
      }
      .offer-category {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
      }
      .offer-category {
        width: 74px;
        height: 62px;
        background-color: $white;
        &.category1 {
          svg {
            width: 100%;
            height: 100%;
            path {
              fill: $orange-color;
            }
          }
        }
        &.category2 {
          svg {
            width: 100%;
            height: 100%;
            path {
              fill: $orange-color;
            }
          }
        }
      }
    }
    .estates-info {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $medium-gray;
      .price {
        font-size: rem-calc(16);
        color: $dark-gray;
        &.old-price {
          text-decoration: line-through;
          color: $medium-gray;
        }
        &.new-price {
          //color: $orange-color;
          //font-size: rem-calc(18);
          //font-weight: 700;
        }
      }
      .icon {
        padding-top: 5px;
        text-align: center;
        //width: 80px;
        //height: 36px;
        //border: 1px solid $orange-color;
        background-color: $white;
        -webkit-transition: background-color 0.33s ease 0s, border-color 0.33s ease 0s;
        transition: background-color 0.33s ease 0s, border-color 0.33s ease 0s;
        .promo-text {
          font-size: rem-calc(10);
          color: $orange-color;
          text-transform: uppercase;
          white-space: nowrap;
          position: relative;
          top: -5px;
          -webkit-transition: color 0.33s ease 0s;
          transition: color 0.33s ease 0s;
        }
        svg {
          width: 36px;
          height: 36px;
          path {
            fill: $dark-gray;
            -webkit-transition: fill 0.33s ease 0s;
            transition: fill 0.33s ease 0s;
          }
        }
      }
      .estate-type {
        font-size: rem-calc(14);
        color: $dark-gray;
        text-transform: none;
        margin-top: -5px;
        svg {
          width: 22px;
          height: 22px;
          position: relative;
          bottom: -5px;
        }
      }
      .estate-area {
        font-size: rem-calc(14);
        color: $dark-gray;
        text-transform: none;
        svg {
          width: 22px;
          height: 22px;
          position: relative;
          bottom: -5px;
        }
      }
      &:hover {
        .icon {
          //background-color: $dark-gray;
          //border-color: $white;
          svg {
            path {
              fill: scale-color($dark-gray, $lightness: 60%)
            }
          }
        }
        .object-info {
        }
        .promo-text {
          color: $white;
        }
      }
    }
    .show-all-top-estates {
      text-align: center;
      margin-top: rem-calc(16);
      .button.gray {
        color: $light-gray;
        border-color: $light-gray;
        &:hover {
          color: $dark-gray;
          background-color: $light-gray;
        }
      }
    }
    &:hover {
      .object-info {
        bottom: 0;
        padding-top: 15rem;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.39,0.575,0.565,1), padding 0.4s cubic-bezier(0.39,0.575,0.565,1);
        transition: bottom 0.4s cubic-bezier(0.39,0.575,0.565,1), padding 0.4s cubic-bezier(0.39,0.575,0.565,1);
      }
    }
  }
  .button {
    &.alt {
      margin-top: rem-calc(36);
      margin-bottom: rem-calc(40);
      padding-bottom: rem-calc(16);
      border-bottom: 1px solid $white;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      &:hover {
        padding-bottom: rem-calc(8);
      margin-bottom: rem-calc(48);
      }
    }
  }
}
.contact-us-cta {
  padding: rem-calc(10 0 60);
  p {
    text-transform: uppercase;
  }
}
.categories {
  background: $white;
  height: rem-calc(400);
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  .tile {
    height: 100%;
    position: relative;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //z-index: 8;
    &:after {
      @iclude myclearfix;
    }
    &.category1 {
      background-color: #576d9d;
    }
    &.category2 {
      background-color: #81c92c;
    }
    &.category3 {
      background-color: #ffc21f;
    }
    .tile_item {
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      .cover {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0.1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
        transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
      }
      &:hover {
        .cover {
          opacity: 0.75;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transition: opacity 0.6125s cubic-bezier(0.39,0.575,0.565,1), -webkit-transform 4s cubic-bezier(0.39,0.575,0.565,1);
          transition: opacity 0.6125s cubic-bezier(0.39,0.575,0.565,1), transform 4s cubic-bezier(0.39,0.575,0.565,1);
        }
      }
      .category-icon {
        color: $white;
        @include absolute-center;
        >*{
          display: block
        }
        svg {
          margin: 0 auto;
          max-width: 165px;
          max-height: 140px;
          path {
            fill: $white;
          }
        }
      }
    }
  }
}
.actual-offers {
  .actual-offer-object {
    background-color: $white;
    box-shadow: 0px 2px 3px rgba($black, 0.2);
  }
}
.cover-bg-image {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba($black, 0);
  background-image: none;
  background-origin: padding-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
a {
  text-transform: uppercase;
}
.button {
  &.alt {
    background: transparent;
    border-color: transparent;
  }
  &.show-all {
    margin: rem-calc(50 0 30);
  }
}
.actual-offers {
  padding: rem-calc(56 0 16);
}
.feedback {
  color: $white;
}
.share {
  a {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      svg {
        path {
          fill: scale-color($orange-color, $lightness: 30%);
        }
      }
    }
    svg {
      path {
        fill: $white;
        -webkit-transition: fill 0.25s ease 0s;
        transition: fill 0.25s ease 0s;
      }
    }
  }
}
header {
  background-color: $white;
  padding: rem-calc(26 0 24);
  .menu {
    li {
      a {
        font-size: rem-calc(14);
        color: $dark-gray;
        &.top-offers {
          color: $white;
        }
      }
    }
  }
}
footer {
  background-color: transparent;
  padding: rem-calc(10 0 100);
  font-size: rem-calc(12);
  .menu {
    .menu-item {
      display: inline-block;
      a {
        font-size: rem-calc(14);
      }
    }
  }
  a {
    text-transform: none;
  }
}