.ContactsPage {
  .offline {
    color: $white;
    @include linear-gradient(to left, #0ea054 20%, #069c95 80%);
    padding-top: rem-calc(60);
    padding-bottom: 0;
    @include breakpoint(medium down) {
      padding-top: rem-calc(20);
    }
    .city-name {
      h1 {
        font-size: rem-calc(38);
        margin-bottom: rem-calc(44);
        @include breakpoint(medium down) {
          font-size: rem-calc(28);
          margin-bottom: rem-calc(20);
        }
      }
      span {
        display: block;
      }
    }
    .general-contact {
      margin-top: 0;
    }
    .info {
      padding-top: rem-calc(35);
    }
    .contact {
      padding: rem-calc(13 0 40);
      @include breakpoint(medium down) {
        padding: rem-calc(30 10 5);
      }
      &>span {
        display: block;
      }
      .address {}
      .phone {
        //margin-top: rem-calc(20);
      }
      .contact-person {}
      .contact-person-position {
        font-size: rem-calc(14);
      }
      .email {}
    }
    &>.row {
      border-bottom: 1px solid $white;
      margin-bottom: rem-calc(55);
      padding-bottom: rem-calc(10);
      @include breakpoint(medium down) {
        padding-bottom: rem-calc(30);
      }
      &:last-child {
        border: none;
        margin-bottom: 0;
      }
    }
  }
  .new-offline {
    padding-top: rem-calc(35);
    padding-bottom: rem-calc(50);
    background-image: linear-gradient(to bottom, #079c95, #49c060);
    @include breakpoint(medium up) {
      padding-top: rem-calc(95);
      padding-bottom: rem-calc(150);
    }
    .panel {
      border-radius: 10px;
      background-color: $white;
      box-shadow: 0 23px 27px 0 rgba($black, 0.12);
      padding-top: rem-calc(60);
      padding-bottom: rem-calc(50);
      margin-bottom: rem-calc(35);
      @include breakpoint(small only) {
        padding-top: rem-calc(30);
        border-radius: 0px;
      }
      h2 {
        font-size: rem-calc(30);
        color: $black;
        margin-bottom: rem-calc(32);
      }
      .city-name {
        color: $black;
        font-size: rem-calc(24);
        padding-bottom: rem-calc(15);
        font-family: 'hkgrotesk-bold';
        &:before {
          margin-bottom: rem-calc(15);
          content: "";
          display: block;
          width: 42px;
          height: 3px;
          background-image: linear-gradient(to bottom, #079c95, #49c060);
        }
      }
      .address {
        @include breakpoint(small only) {
          margin-bottom: rem-calc(35);
        }
      }
      p {
        color: $black;
        margin-bottom: 0;
        line-height: 1.4;
      }
      a {
        color: $black;
        &:hover {
          color: #079c95;
        }
      }
    }
    .icon-wrapper {
      width: rem-calc(215);
      height: rem-calc(215);
      border-radius: 110px;
      background-color: #ffffff;
      box-shadow: 0 12px 25px 0 rgba($black, 0.06);
      margin: 0 auto;
      text-align: center;
      line-height: 215px;
      @include breakpoint(small only) {
        margin-bottom: rem-calc(30);
      }
    }
  }
  .ofline-info {
    background-color: $white;
    padding: rem-calc(50 0 50);
    p, a {
      color: $dark-gray;
    }
  }
  .online {
    color: $white;
    background-color: #002230;
    //@include linear-gradient(to left, #0ea054 20%, #069c95 80%);
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(75);
    h1 {
      font-size: rem-calc(50);
      color: $white;
      @include breakpoint(medium down) {
        font-size: rem-calc(28);
      }
    }
    form {
      .input-text {
        input,
        textarea {
          font-size: rem-calc(24);
          height: auto;
          padding: rem-calc(30 5);
          margin-bottom: 0;
          margin-top: -1px;
        }
      }
      .button {
        margin-top: rem-calc(50);
        //background-color: #13e3be;
      }
      input,
      textarea {
        // Placeholder text
        &::placeholder {
          color: $white;
        }
      }
    }
  }
  p {
    font-size: rem-calc(16);
    color: $white;
  }
  a {
    color: $white;
    &:hover {
      color: $white-hover;
    }
  }
  .hline-separator {
    background-color: $white;
    margin-left: 0;
    width: rem-calc(70);
    @include breakpoint(medium down) {
      margin: rem-calc(10 0 15);
    }
  }
}