/* Home Search Section */
.search {
  padding: rem-calc(56 0 16);
  background-color: #f0f0f0;
  .search-form {
    //background-color: rgba($white, .8);
    padding: 2rem 1rem;
    //border-bottom: 1px solid $medium-gray;
    .extended-search {
      a {
        font-size: rem-calc(12);
        color: $dark-gray;
     }
    }
  }
  .quick-search-form {
    @extend .search-form;
    a.quick-search {
      @include button-expand(true);
      @include button-style(rgba($white, .67), $white, $primary-color);
      margin-bottom: 0;
    }
  }
}

.slideshow {
  margin: 0;
  li {
    list-style-type: none;
    display: table;
    width: 100%;
  }
}

/* Home Top Offers */
.top-offers {
  @include linear-gradient(to right, #069c95, #33ad50);
  padding: rem-calc(80 0 55);
  h1 {
    color: $white;
  }
  .top-offer-object {
    position: relative;
    background-color: $white;
    box-shadow: 0px 2px 3px rgba($black, 0.2);
    &>div {
      padding: 0 1rem;
    }
    .object-wrapper {
      position: relative;
      padding: 0;
      margin-bottom: rem-calc(6);
      overflow: hidden;
      .object-image {
        overflow: hidden;
        position: relative;
        height: 260px;
        img {
          position: absolute;
          height: 260px;
          max-width: inherit;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);
        }
      }
      .object-info {
        position: absolute;
        bottom: -118px;
        width: 100%;
        text-align: center;
        color: $white;
        padding: 3rem 0 0.75rem;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000', GradientType=0 );
        //-webkit-transition: -webkit-transform 0.33s ease 0.2s;
        //transition: bottom 0.33s ease 0.2s;
        -webkit-transition: all 0.33s ease 0.2s;
        transition: all 0.33s ease 0.2s;

        h3 {
          margin: 0;
        }
        hr {
          margin: 5px auto;
          width: 10%;
        }
        .place {
          @include place-region-icon;
        }
        .region {
          @include place-region-icon;
        }
      }
      .offer-category {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
      }
      .offer-category {
        width: 74px;
        height: 62px;
        background-color: $white;
        &.category1 {
          svg {
            width: 100%;
            height: 100%;
            path {
              fill: $orange-color;
            }
          }
        }
        &.category2 {
          svg {
            width: 100%;
            height: 100%;
            path {
              fill: $orange-color;
            }
          }
        }
      }
    }
    .estates-info {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $medium-gray;
      .price {
        font-size: rem-calc(16);
        color: $dark-gray;
        &.old-price {
          text-decoration: line-through;
          color: $medium-gray;
        }
        &.new-price {
          //color: $orange-color;
          //font-size: rem-calc(18);
          //font-weight: 700;
        }
      }
      .icon {
        padding-top: 5px;
        text-align: center;
        //width: 80px;
        //height: 36px;
        //border: 1px solid $orange-color;
        background-color: $white;
        -webkit-transition: background-color 0.33s ease 0s, border-color 0.33s ease 0s;
        transition: background-color 0.33s ease 0s, border-color 0.33s ease 0s;
        .promo-text {
          font-size: rem-calc(10);
          color: $orange-color;
          text-transform: uppercase;
          white-space: nowrap;
          position: relative;
          top: -5px;
          -webkit-transition: color 0.33s ease 0s;
          transition: color 0.33s ease 0s;
        }
        svg {
          width: 36px;
          height: 36px;
          path {
            fill: $dark-gray;
            -webkit-transition: fill 0.33s ease 0s;
            transition: fill 0.33s ease 0s;
          }
        }
      }
      .estate-type {
        font-size: rem-calc(14);
        color: $dark-gray;
        text-transform: none;
        margin-top: -5px;
        svg {
          width: 22px;
          height: 22px;
          position: relative;
          bottom: -5px;
        }
      }
      .estate-area {
        font-size: rem-calc(14);
        color: $dark-gray;
        text-transform: none;
        svg {
          width: 22px;
          height: 22px;
          position: relative;
          bottom: -5px;
        }
      }
      &:hover {
        .icon {
          //background-color: $dark-gray;
          //border-color: $white;
          svg {
            path {
              fill: scale-color($dark-gray, $lightness: 60%)
            }
          }
        }
        .object-info {
        }
        .promo-text {
          color: $white;
        }
      }
    }
    .show-all-top-estates {
      text-align: center;
      margin-top: rem-calc(16);
      .button.gray {
        color: $light-gray;
        border-color: $light-gray;
        &:hover {
          color: $dark-gray;
          background-color: $light-gray;
        }
      }
    }
    &:hover {
      .object-info {
        bottom: 0;
        padding-top: 15rem;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.39,0.575,0.565,1), padding 0.4s cubic-bezier(0.39,0.575,0.565,1);
        transition: bottom 0.4s cubic-bezier(0.39,0.575,0.565,1), padding 0.4s cubic-bezier(0.39,0.575,0.565,1);
      }
    }
  }
  .button {
    &.alt {
      margin-top: rem-calc(36);
      margin-bottom: rem-calc(40);
      padding-bottom: rem-calc(16);
      border-bottom: 1px solid $white;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      &:hover {
        padding-bottom: rem-calc(8);
      margin-bottom: rem-calc(48);
      }
    }
  }
}

/* Home Wrapper Section */
/*.section-wrapper {
  position: relative;
  .section-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    &.section1-bg {
      background-image: url(../img/bg-shape-01.svg);
    }
    &.section2-bg {
      background-image: url(../img/bg-shape-02.svg);
    }
  }
}*/

/* Home Portfolio Section */
.portfolio {
  background-color: #002e41;
  color: $white;
  padding: rem-calc(120 0 40);
  h1 {
    font-size: rem-calc(78) !important;
    @include linear-gradient(to bottom, #0ea054 40%, #069c95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
  }
  p {
    font-size: rem-calc(24);
    margin-bottom: rem-calc(50);
  }
}

/* Home Contact-us Section */
.contact-us-cta {
  padding: rem-calc(10 0 60);
  p {
    text-transform: uppercase;
  }
}

/* Home Categories Section */
.categories {
  background: $white;
  height: rem-calc(400);
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  .tile {
    height: 100%;
    position: relative;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //z-index: 8;
    &:after {
      @iclude myclearfix;
    }
    &.category1 {
      background-color: #576d9d;
    }
    &.category2 {
      background-color: #81c92c;
    }
    &.category3 {
      background-color: #ffc21f;
    }
    .tile_item {
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      .cover {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0.1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
        transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
      }
      &:hover {
        .cover {
          opacity: 0.75;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transition: opacity 0.6125s cubic-bezier(0.39,0.575,0.565,1), -webkit-transform 4s cubic-bezier(0.39,0.575,0.565,1);
          transition: opacity 0.6125s cubic-bezier(0.39,0.575,0.565,1), transform 4s cubic-bezier(0.39,0.575,0.565,1);
        }
      }
      .category-icon {
        color: $white;
        @include absolute-center;
        >*{
          display: block
        }
        svg {
          margin: 0 auto;
          max-width: 165px;
          max-height: 140px;
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

/* Home Actual Offers */
.actual-offers {
  padding: rem-calc(56 0 16);
  .actual-offer-object {
    background-color: $white;
    box-shadow: 0px 2px 3px rgba($black, 0.2);
  }
}

/* Home Feedback Section */
.feedback {
  color: $white;
}

/* Home Share Section */
.share {
  a {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      svg {
        path {
          fill: scale-color($orange-color, $lightness: 30%);
        }
      }
    }
    svg {
      path {
        fill: $white;
        -webkit-transition: fill 0.25s ease 0s;
        transition: fill 0.25s ease 0s;
      }
    }
  }
}

/* Homepage only styles */
.HomePage {
  h1 {
    font-size: rem-calc(52);
  }
}