.top-bar {
  @include breakpoint(small) {
    height: auto;
  }
  @include breakpoint(medium) {
    height: rem-calc(42);
    padding: 0;
  }
  .menu {
    li {
      &.mui-enter {
        //@include mui-slide(in, up, 100%, false, 250ms, ease);
      }
      a {
        color: $white;
        padding: rem-calc(12px 16px);
        @include breakpoint(small) {
          font-size: inherit;
        }
        @include breakpoint(medium) {
          font-size: rem-calc(12);
        }
        &:hover {
          color: scale-color($button-color, $lightness: -15%);
        }
      }
    }
    &.locales {
      li {
        @include breakpoint(small) {
          display: table-cell;
        }
      }
      @include breakpoint(small) {
        border-top: 1px solid $white;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
      }
      @include breakpoint(medium) {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
  .top-bar-title {
    .brand {
      svg {
        max-width: 65%;
        height: auto;
      }
    }
  }
  .top-bar-left {
    .menu {
      li {
        a {
          //font-size: rem-calc(14);
        }
      }
    }
  }
  .top-bar-right {
    & > * {
      @include breakpoint(small) {
        float: none;
      }
      @include breakpoint(medium) {
        //float: left;
        display: inline-block;
      }
    }
    ul:first-child {
      margin-right: 2rem;
    }
    .menu {
      &.dropdown {
        /*@include breakpoint(small) {
          display: block;
        }
        & > li {
          @include breakpoint(small) {
            display: block;
          }
          @include breakpoint(medium) {
            display: table-cell;
          }
        }
        .vertical {
          &.submenu {
            min-width: inherit;
            border-top: 1px solid $dark-gray;
            @include breakpoint(medium) {
              display: none;
              position: absolute;
            }
            @include breakpoint(small) {
              display: block;
              position: relative;
              border: none;
              & > li {
                padding-left: rem-calc(10);
              }
            }
          }
        }*/
      }
      &.locales {
        margin-right: rem-calc(24);
        margin-left: rem-calc(24);
        li {
          padding: rem-calc(6px 0);
          a {
            border-right: 1px solid scale-color($light-gray, $lightness: -50%);
            font-size: rem-calc(14);
            padding: rem-calc(5px 10px);
          }
          &.active {
            a {
              background: transparent;
              color: #09bb82;
            }
          }
          &:last-child {
            a {
              border: none;
            }
          }
        }
        &.no-icons {
          li {
            a {
              padding: rem-calc(8px 10px);
            }
          }
        }
      }
      &.no-icons {
        li {
          a {
            padding: rem-calc(15px 16px);
          }
        }
      }
    }
  }
  .dropdown {
    &.menu {
      &>li {
        &.is-dropdown-submenu-parent {
          &>a {
            padding-right: 1.2rem;
          }
        }
      }
    }
  }
  .favorites {
    li {
      a {
        font-size: rem-calc(12);
        vertical-align: top;
        margin: 0;
        padding: rem-calc(12px 16px);
        border: none;
        border-radius: 0;
        background-color: #202020;
        color: #8d8787;
        text-transform: uppercase;
        i {
          margin-right: 0;
          svg,
          img {
            margin-right: 0;
          }
        }
        sup {
          color: $white;
        }
      }
    }
  }
  .mobile-menu {
    @include breakpoint(small) {
      margin-top: 1rem;
    }
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }
}