.top-bar {
  @include breakpoint(small) {
    height: auto;
  }
  @include breakpoint(medium) {
    height: rem-calc(42);
    padding: 0;
  }
  .menu {
    li {
      &.mui-enter {
        //@include mui-slide(in, up, 100%, false, 250ms, ease);
      }
      a {
        padding: rem-calc(12px 16px);
        @include breakpoint(small) {
          font-size: inherit;
          color: $white;
        }
        @include breakpoint(medium) {
          font-size: rem-calc(13);
        }
        &>span {
          color: #9496a0;
        }
        &:hover {
          &>span {
            color: scale-color($button-color, $lightness: -15%);
          }
        }
        &.top-offers-button {
          @include breakpoint(small) {
            margin: rem-calc(25 0 25);
          }
        }
      }
      &.active {
        &>a {
          background: transparent;
          &>span {
            color: #09bb82;
          }
          &:hover {
            &>span {
              color: scale-color(#09bb82, $lightness: 15%);
            }
          }
        }
      }
      &.separator {
        a {
          border-left: 1px solid scale-color($light-gray, $lightness: -50%);
        }
      }
    }
    &.locales {
      li {
        @include breakpoint(small) {
          display: table-cell;
        }
      }
      @include breakpoint(small) {
        border-top: 1px solid $white;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
      }
      @include breakpoint(medium) {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
      }
    }
    &.search {
      padding: 0;
      margin: 0 !important;
      //position: relative;
      a {
        i,
        svg,
        .svg {
          margin-right: 0;
        }
        &:hover {
          svg,
          .svg {
            path {
              fill: scale-color($button-color, $lightness: -15%);
            }
          }
        }
      }
      .quick-search-form {
        display: none;
        position: absolute;
        background-color: $white;
        left: 0;
        &.expanded {
          display: block;
          padding: rem-calc(16 0 7);
          width: 100%;
        }
        .input-group {
          margin-bottom: 0;
          input {
            &.input-group-field {
              max-width: inherit;
              height: rem-calc(37);
              border: 1px solid transparent;
              border-bottom-color: $medium-gray;
              box-shadow: none;
            }
            &.button {
              padding: rem-calc(7 18 10);
              border-radius: 0 3px 3px 0;
              font-size: rem-calc(18);
            }
          }
        }
      }
    }
    &.favorites {
      margin: 0 !important;
      .favorites-menu {
        display: none;
        position: absolute;
        list-style: none;
        margin: 0;
        right: 0;
        background-color: transparent;
      }
      .favorite-item {
        background-color: scale-color($dark-gray, $lightness: -15%);
        span {
          a {
            background-color: transparent;
            display: inline-block;
            &:hover {
              background-color: scale-color($dark-gray, $lightness: -50%);
              color: $light-gray;
            }
          }
        }
        .delete-item {
          float: right;
        }
        &.no-items {
          padding: 0.66667rem 0.88889rem;
        }
      }
      &:hover {
        .favorites-menu {
          display: block;
        }
      }
    }
    &>.menu-item {
      &.item1 {
        a {
          border: none !important;
        }
      }
    }
  }
  .top-bar-title {
    .brand {
      svg {
        max-width: 65%;
        height: auto;
      }
    }
  }
  .top-bar-left {
    .menu {
      li {
        a {
          //font-size: rem-calc(14);
        }
      }
    }
  }
  .top-bar-right {
    & > * {
      @include breakpoint(small) {
        float: none;
      }
      @include breakpoint(medium) {
        display: inline-block;
      }
    }
    ul:first-child {
      //margin-right: 2rem;
    }
    .menu {
      @include breakpoint(medium) {
        margin-left: rem-calc(16);
      }
      &.dropdown {
        @include breakpoint(small) {
          display: block;
        }
        @include breakpoint(medium) {
          display: inline-block;
        }
        /*& > li {
          @include breakpoint(small) {
            display: block;
          }
          @include breakpoint(medium) {
            display: table-cell;
          }
        }
        .vertical {
          &.submenu {
            min-width: inherit;
            border-top: 1px solid $dark-gray;
            @include breakpoint(medium) {
              display: none;
              position: absolute;
            }
            @include breakpoint(small) {
              display: block;
              position: relative;
              border: none;
              & > li {
                padding-left: rem-calc(10);
              }
            }
          }
        }*/
      }
      &.locales {
        //margin-right: rem-calc(24);
        //margin-left: rem-calc(24);
        li {
          padding: rem-calc(2 0 4);
          a {
            border-left: 1px solid scale-color($light-gray, $lightness: -50%);
            //font-size: rem-calc(18);
            padding: rem-calc(5 10);
          }
          &.active {
            a {
              background: transparent;
              &>span {
                //color: #09bb82;
              }
            }
          }
          &:last-child {
            a {
              //border: none;
            }
          }
        }
        &.no-icons {
          li {
            a {
              @include breakpoint(medium) {
                padding: rem-calc(10 10);
              }
            }
          }
        }
      }
      &.no-icons {
        li {
          a {
            @include breakpoint(small) {
              padding: rem-calc(7 5);
              font-size: rem-calc(14)
            }
            @include breakpoint(medium) {
              padding: rem-calc(14 10);
              font-size: rem-calc(13)
            }
          }
        }
      }
    }
  }
  .dropdown {
    &.menu {
      &>li {
        &.is-dropdown-submenu-parent {
          &>a {
            padding-right: 1.2rem;
          }
        }
      }
    }
  }
  .favorites {
    li {
      a {
        font-size: rem-calc(12);
        vertical-align: top;
        margin: 0;
        padding: rem-calc(12px 16px);
        border: none;
        border-radius: 0;
        background-color: #202020;
        color: #8d8787;
        text-transform: uppercase;
        i {
          margin-right: 0;
          svg,
          img {
            margin-right: 0;
          }
        }
        sup {
          color: $white;
        }
      }
    }
  }
  .mobile-menu {
    position: relative;
    @include breakpoint(small) {
      margin-top: 1rem;
    }
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }
}