<footer class="">
  <div class="top">
  	<div class="row">
  		<div class="small-12 columns">
        <ul class="menu">
          <li class="menu-item"><a class="" href="about.html">За нас</a></li>
          <li class="menu-item"><a class="" href="all-properties.html">Обекти</a></li>
          <li class="menu-item"><a class="" href="service-1.html">Услуги</a></li>
          <li class="menu-item"><a class="" href="blog.html">Блог</a></li>
          <li class="menu-item"><a class="" href="contact.html">За контакт</a></li>
        </ul>
        <hr class="hline-separator" />
      </div>
    </div>
    <div class="row h-all-caps lite">
      <div class="small-12 columns">
        <h2>Свържете се с отдел Продажби</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="row addresses">
          <div class="small-6 columns">
            <p><span class="city">Варна</span><br/>
              Л. Каравелов 55</p>
            <p>+359 52 610 746<br/>
            +359 88 212 2212<br/>
            <a href="mailto:sales@planex.bg">sales@planex.bg</a></p>
            <p class="worktime">Работно време:<br/>
            всеки делничен ден<br/>
            09:00 - 17:00 часа
            </p>
          </div>
          <div class="small-6 columns">
            <p><span class="city">София</span><br/>
              Невестина скала 18</p>
            <p>+359 2 958 1001<br/>
            +359 88 747 7755<br/>
            <a href="mailto:sales@planex.bg">sales@planex.bg</a></p>
            <p class="worktime">Работно време:<br/>
            всеки делничен ден<br/>
            09:30 - 18:00 часа
            </p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 columns medium-text-right text-center">
        <a href="#" class="button hollow">Изпратете ни запитване</a>
        <a href="#" class="button hollow iconized"><i class="ico-mail"><img class="svg" src="assets/img/icon-email.svg" alt="" /></i><span>абонамент за бюлетин</span></a>
        <div class="share align-middle">
          <div>Следвайте ни</div>
          <div><a href="#" class="share-fb-button"><i class="share-fb"><img class="svg" src="assets/img/icon-fb.svg" alt="" /></i></a></div>
          <div><a href="#" class="share-yt-button"><i class="share-yt"><img class="svg" src="assets/img/icon-yt.svg" alt="" /></i></a></div>
        </div>
      </div>
  	</div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="small-12 medium-6 columns medium-text-left text-center">
        <a class="footer-logo" href="index.html"><img src="assets/img/logo-realtyplanex.svg" alt="footer-logo" /></a>
      </div>
      <div class="small-12 medium-6 columns medium-text-right text-center">
        <p class="copyright"><a href="http://planexinvest.com" target="_blank" title="Планекс Инвест ООД">Планекс Инвест ООД</a>. © 2016 Всички права запазени.</p>
        <p class="madeby">Създадено с <i class="fa fa-heart" aria-hidden="true"></i> от Fantasive Studio - <a href="http://fantasive.com" target="_blank" title="Fantasive Studio">уеб дизайн и криейтив, Варна</a></p>
      </div>
    </div>
  </div>
</footer>