<header class="">
	<div class="row">
		<div class="medium-2 columns hide-for-small-only">
			<div class="top-header left">
        <a href="/"><img class="svg" src="assets/img/logo-realtyplanex.svg" alt="logo header" /></a>
      </div>
		</div>
    <div class="small-12 medium-10 columns">
      <ul class="menu float-right">
        <li class="menu-item"><a href="#">Residential property</a></li>
        <li class="menu-item"><a href="#">Commercial</a></li>
        <li class="menu-item"><a href="#">Holiday properties</a></li>
        <li class="menu-item"><a href="#" class="top-offers-button button">Top offers</a></li>
      </ul>
    </div>
	</div>
</header>