<section class="submenu">
  <div class="row">
    <div class="small-12 columns">
      <div class="menu-wrapper clearfix hide-for-small-only">
        <ul class="menu float-right">
          <li class="{{#ifpage 'object-general'}}active{{/ifpage}}"><a class="" href="object-general.html">Описание</a></li>
          <li class="{{#ifpage 'object-estates'}}active{{/ifpage}}"><a class="cta-accent" href="object-estates.html">Имоти за продажба</a></li>
          <li class="{{#ifpage 'object-topoffers'}}active{{/ifpage}}"><a class="" href="object-topoffers.html">Топ оферти</a></li>
          <li class="{{#ifpage 'object-gallery'}}active{{/ifpage}}"><a class="" href="object-gallery.html">Галерия</a></li>
          <li class="{{#ifpage 'object-location'}}active{{/ifpage}}"><a class="" href="object-location.html">Локация</a></li>
          <li class="{{#ifpage 'object-services'}}active{{/ifpage}}"><a class="" href="object-services.html">Услуги</a></li>
          <li class="{{#ifpage 'object-video'}}active{{/ifpage}}"><a class="" href="object-video.html">Видео</a></li>
          <li class="{{#ifpage 'object-brochure'}}active{{/ifpage}}"><a class="" href="{{root}}assets/img/brochure-AquarelleResidence.pdf" target="_blank">Брошура</a></li>
        </ul>
      </div>
      <div class="menu-wrapper clearfix show-for-small-only">
        <ul class="menu vertical">
          <li class="{{#ifpage 'object-general'}}active{{/ifpage}}"><a class="" href="object-general.html">Описание</a></li>
          <li class="{{#ifpage 'object-estates'}}active{{/ifpage}}"><a class="cta-accent" href="object-estates.html">Имоти за продажба</a></li>
          <li class="{{#ifpage 'object-topoffers'}}active{{/ifpage}}"><a class="" href="object-topoffers.html">Топ оферти</a></li>
          <li class="{{#ifpage 'object-gallery'}}active{{/ifpage}}"><a class="" href="object-gallery.html">Галерия</a></li>
          <li class="{{#ifpage 'object-location'}}active{{/ifpage}}"><a class="" href="object-location.html">Локация</a></li>
          <li class="{{#ifpage 'object-services'}}active{{/ifpage}}"><a class="" href="object-services.html">Услуги</a></li>
          <li class="{{#ifpage 'object-video'}}active{{/ifpage}}"><a class="" href="object-video.html">Видео</a></li>
          <li class="{{#ifpage 'object-brochure'}}active{{/ifpage}}"><a class="" href="{{root}}assets/img/brochure-AquarelleResidence.pdf" target="_blank">Брошура</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>