<section class="contact-us text-center h-all-caps lite">
  <div class="row">
    <div class="small-12 columns">
      <h1>Свържете се с нас</h1>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3">
    <div class="column">
      <h3 class="city">Варна</h3>
      <hr class="hline-separator" />
      <div class="row1"><a href="tel:+35952610746">+359 52 610 746</a></div>
      <div class="row2"><a href="tel:+359882122212">+359 88 212 2212</a></div>
    </div>
    <div class="column">
      <h3 class="city">София</h3>
      <hr class="hline-separator" />
      <div class="row1"><a href="tel:+35929581001">+359 2 958 1001</a></div>
      <div class="row2"><a href="tel:+359887477755">+359 88 747 7755</a></div>
    </div>
    <div class="column">
      <h3 class="city">Пишете ни</h3>
      <hr class="hline-separator" />
      <div class="row1"><a href="mailto:sales@planex.bg">sales@planex.bg</a></div>
      <div class="row2"><a href="#">Форма за контакт</a></div>
    </div>
  </div>
</section>

<section class="more-estates">
  <div class="row">
    <div class="small-12 h-all-caps lite text-center">
      <h1>Още имоти във Варна</h1>
    </div>
  </div>
  <div class="row offers-carousel owl-carousel">
    
      <div class="top-offer-object">
        <div class="object-wrapper">
          <div class="object-image"><img src="assets/img/top-1-tmp.jpg" /></div> <!-- 380x260px -->
          <div class="object-info h-all-caps lite"><!-- has-estates -->
            <h3 class="name lite">Акварел 3</h3>
            <!-- <span class="place">
              Варна, кв. Бриз
            </span> -->
            <!--<div class="show-all-top-estates">
              <a href="#" class="button hollow gray">Show esates from this object</a>
            </div>-->
          </div>
        </div>
        <div class="estates-info">
          <div class="row">
            <div class="small-6 columns">
              <!-- <div class="estate-rzp">Локация</div> -->
              <div class="estate-area">к.к. Св.Св. Константин и Елена</div>
            </div>
            <div class="small-6 columns text-right">
              <div class="estate-complete-txt">Етап</div>
              <div class="esate-completed">В експлоатация</div>
            </div>
          </div>
          <hr/>
          <a href="object-general.html" title="Подробна информация" class="view-offer">Подробна информация</a>
        </div>
      </div>
    
      <div class="top-offer-object">
        <div class="object-wrapper">
          <div class="object-image"><img src="assets/img/top-2-tmp.jpg" /></div> <!-- 380x260px -->
          <div class="object-info h-all-caps lite">
            <h3 class="name lite">Вива 3 - 2ри етап</h3>
            <!-- <span class="place">
              Варна, кв. Левски
            </span> -->
          </div>
        </div>
        <div class="estates-info">
          <div class="row">
            <div class="small-6 columns">
              <!-- <div class="estate-rzp">Локация</div> -->
              <div class="estate-area">Варна</div>
              <div class="estate-area">кв. Левски</div>
            </div>
            <div class="small-6 columns text-right">
              <div class="estate-complete-txt">Етап</div>
              <div class="esate-completed">В експлоатация</div>
            </div>
          </div>
          <hr/>
          <a href="object-general.html" title="Подробна информация" class="view-offer">Подробна информация</a>
        </div>
      </div>
    
      <div class="top-offer-object">
        <div class="object-wrapper">
          <div class="object-image"><img src="assets/img/top-3-tmp.jpg" /></div> <!-- 380x260px -->
          <div class="object-info h-all-caps lite">
            <h3 class="name lite">Акварел 2</h3>
            <!-- <span class="place">
              Варна, кв. Бриз
            </span> -->
          </div>
        </div>
        <div class="estates-info">
          <div class="row">
            <div class="small-6 columns">
              <!-- <div class="estate-rzp">Локация</div> -->
              <div class="estate-area">Варна</div>
              <div class="estate-area">кв. Бриз</div>
            </div>
            <div class="small-6 columns text-right">
              <div class="estate-complete-txt">Етап</div>
              <div class="esate-completed">В експлоатация</div>
            </div>
          </div>
          <hr/>
          <a href="object-general.html" title="Подробна информация" class="view-offer">Подробна информация</a>
        </div>
      </div>

      <div class="top-offer-object">
        <div class="object-wrapper">
          <div class="object-image"><img src="assets/img/top-3-tmp.jpg" /></div> <!-- 380x260px -->
          <div class="object-info h-all-caps lite">
            <h3 class="name lite">Акварел 2</h3>
            <!-- <span class="place">
              Варна, кв. Бриз
            </span> -->
          </div>
        </div>
        <div class="estates-info">
          <div class="row">
            <div class="small-6 columns">
              <!-- <div class="estate-rzp">Локация</div> -->
              <div class="estate-area">Варна</div>
              <div class="estate-area">кв. Бриз</div>
            </div>
            <div class="small-6 columns text-right">
              <div class="estate-complete-txt">Етап</div>
              <div class="esate-completed">В експлоатация</div>
            </div>
          </div>
          <hr/>
          <a href="object-general.html" title="Подробна информация" class="view-offer">Подробна информация</a>
        </div>
      </div>
    
  </div>
  <div class="row text-center">
    <div class="small-12 columns">
      <a href="all-properties.html" class="button hollow all-top-offers">Всички имоти във Варна</a>
    </div>
  </div>
</section>