<section class="object-header">
  <div class="row text-center">
    <div class="row header-box">
      <div class="small-12 medium-8 medium-push-4 column object-image">
        <img src="{{root}}assets/img/top-4-tmp.jpg" alt="object general image" width="100%" />
      </div>
      <div class="small-12 medium-4 medium-pull-8 column text-info h-all-caps lite">
        <h1>Акварел Резиденс</h1>
        <address>Варна, кв. Бриз</address>
        <div class="cta"><a href="#" class="button hollow">Свържете се с нас</a></div>
      </div>
    </div>
  </div>
</section>