<section class="property-header">
  <div class="row text-center">
    <div class="header-box" data-equalizer data-equalize-on="medium">
      <div class="small-12 medium-4 column text-info" data-equalizer-watch>
        <h1>Акварел Резиденс</h1>
        <address>Варна, кв. Бриз</address>
        <div class="cta"><a href="#" class="button hollow">Свържете се с нас</a></div>
      </div>
      <div class="small-12 medium-8 column object-image" data-equalizer-watch>
        <img src="{{root}}assets/img/top-4-tmp.jpg" alt="object general image" width="100%" />
      </div>
    </div>
  </div>
</section>