<section class="submenu">
  <div class="row">
    <div class="small-12 columns">
      <div class="menu-wrapper clearfix">
        <ul class="menu float-right">
          <li class="{{#ifpage 'property-general'}}active{{/ifpage}}"><a class="" href="property-general.html">Описание</a></li>
          <li class="{{#ifpage 'property-estates'}}active{{/ifpage}}"><a class="" href="property-estates.html">Имоти за продажба</a></li>
          <li class="{{#ifpage 'property-topoffers'}}active{{/ifpage}}"><a class="" href="property-topoffers.html">Топ оферти</a></li>
          <li class="{{#ifpage 'property-gallery'}}active{{/ifpage}}"><a class="" href="property-gallery.html">Галерия</a></li>
          <li class="{{#ifpage 'property-location'}}active{{/ifpage}}"><a class="" href="property-location.html">Локация</a></li>
          <li class="{{#ifpage 'property-services'}}active{{/ifpage}}"><a class="" href="property-services.html">Услуги</a></li>
          <li class="{{#ifpage 'property-video'}}active{{/ifpage}}"><a class="" href="property-video.html">Видео</a></li>
          <li class="{{#ifpage 'property-brochure'}}active{{/ifpage}}"><a class="" href="property-brochure.html">Брошура</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>