<section class="categories-submenu" data-equalizer data-equalize-on="medium">
  <div class="row small-up-1 medium-up-5 text-center align-middle">
    <div class="column {{#ifpage 'service-1'}}active{{/ifpage}}" data-equalizer-watch>
      <div class="overlay"></div>
      <div class="service-icon"><a href="service-1.html"><img class="svg" src="assets/img/service-icon-1.svg" alt="" /></a></div>
      <div class="service-title"><a href="service-1.html">Индивидуален консултант</a></div>
    </div>
    <div class="column {{#ifpage 'service-2'}}active{{/ifpage}}" data-equalizer-watch>
      <div class="overlay"></div>
      <div class="service-icon"><a href="service-2.html"><img class="svg" src="assets/img/service-icon-2.svg" alt="" /></a></div>
      <div class="service-title"><a href="service-2.html">Юридическо обслужване</a></div>
    </div>
    <div class="column {{#ifpage 'service-3'}}active{{/ifpage}}" data-equalizer-watch>
      <div class="overlay"></div>
      <div class="service-icon"><a href="service-3.html"><img class="svg" src="assets/img/service-icon-3.svg" alt="" /></a></div>
      <div class="service-title"><a href="service-3.html">Интериорен дизайн</a></div>
    </div>
    <div class="column {{#ifpage 'service-4'}}active{{/ifpage}}" data-equalizer-watch>
      <div class="overlay"></div>
      <div class="service-icon"><a href="service-4.html"><img class="svg" src="assets/img/service-icon-4.svg" alt="" /></a></div>
      <div class="service-title"><a href="service-4.html">Поддръжка на имоти</a></div>
    </div>
    <div class="column {{#ifpage 'service-5'}}active{{/ifpage}}" data-equalizer-watch>
      <div class="overlay"></div>
      <div class="service-icon"><a href="service-5.html"><img class="svg" src="assets/img/service-icon-5.svg" alt="" /></a></div>
      <div class="service-title"><a href="service-5.html">Управление на собствеността</a></div>
    </div>
  </div>
</section>