<div class="top-bar stacked-for-medium">
	<div class="row">
		<div class="small-12 columns">
			<div class="top-bar-title">
				<span class="brand hide-for-medium"><a href="/"><img class="svg" src="assets/img/logo-realtyplanex-white.svg" alt="logo header" /></a></span>
			</div>
			<div class="text-right">
				<span data-responsive-toggle="responsive-menu" data-hide-for="medium">
					<button class="menu-icon dark" type="button" data-toggle></button>
				</span>
			</div>
			<div id="responsive-menu" class="mobile-menu">
				<div class="top-bar-right">
					<ul class="menu">
						<li class="menu-item item1">
							<a href="tel:+35952600936"><i class="phone"><img class="svg" src="assets/img/icon-phone.svg" alt="heart" /></i><span>+359 52 600 936</span></a>
						</li>
					</ul>
					<ul class="dropdown menu no-icons" data-dropdown-menu>
						<li class="menu-item item4">
							<a href="#"><span>About us</span></a>
							<ul class="menu vertical">
								<li><a href="#"><span>Company</span></a></li>
		            <li><a href="#"><span>Services</span></a></li>
		            <li><a href="#"><span>Portfolio</span></a></li>
							</ul>
						</li>
						<li class="menu-item item5"><a href="#"><span>Actual</span></a></li>
						<li class="menu-item item7"><a href="#"><span>Contacts</span></a></li>
					</ul>
					<ul class="menu locales no-icons">
						<li class="menu-item active"><a href="#">EN</a></li>
						<li class="menu-item"><a href="#">BG</a></li>
						<li class="menu-item"><a href="#">RU</a></li>
					</ul>
					<ul class="menu favorites hide-for-small-only">
						<li class="menu-item">
							<a href="#" class="button"><span>Favorites</span>
								<i class="heart"><img class="svg" src="assets/img/icon-heart.svg" alt="heart" /></i>
								<sup class="fav-icon">2</sup>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>